<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!--
    ===============================================================================
    Appender Definitions (the places you can log messages to)
    ===============================================================================
    -->
    <appender name="ROLL" class="uk.org.simonsite.log4j.appender.TimeAndSizeRollingAppender">
        <param name="File" value="/Users/navinbanerjee/work/git/myExperiments/log4j-rolling-appender-test/logs/app.log"/>
        <param name="DatePattern" value=".HHmmss"/>
        <param name="MaxFileSize" value="1KB"/>
        <param name="MaxRollFileCount" value="5"/>
        <layout class="org.apache.log4j.SimpleLayout" />
    </appender>

  
    <root>
        <priority value="info"/>
        <appender-ref ref="ROLL"/>
    </root>
</log4j:configuration>
